.result{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__container{
background-color: white;
width: 25%;
height: 20%;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.result__container button{
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 64px;
    padding: 5px 10px;
    background-color: #ffbe0a;
    width: 100%;
    }

.result__container *{
    margin-bottom: 10px;
    }